{% extends "layout.html" %}
{% block main %}
    <h1>
        Популярные вопросы:
    </h1>
    <div id="questions">
    {% for Question in question_page %}
        <div class="question row-fluid">
            <div class="question_left span3">
                <img class="question_avatar" src="http://lorempixel.com/140/140"/>
                    Автор:
                <a>
                    {{ Question.author.user.username }}
                </a>
                <div class="btn-toolbar question_rate_outer">
                    <div class="btn-group question_rate_inner">
                        <a class="btn" href="#">-</a>
                        <a class="btn" href="#">{{ Question.rating }}</a>
                        <a class="btn" href="#">+</a>
                    </div>
                </div>
            </div>
            <div class="question_right span9">
                <h3><a href="/question?id={{Question.id}}">{{Question.title}}</a></h3>
                <p>
                    {{Question.text}}

                </p>
                <p class="question_tags">
                    Тэги: <br>
                <span class="tag">
                    <a class="btn btn-mini" href="#">Что-то странное</a>
                </span>
                <span class="tag">
                    <a class="btn btn-mini" href="#">просто тег.</a>
                </span>
                 <span class="tag">
                    <a class="btn btn-mini" href="#">Никто</a>
                </span>
                <span>
                    <a class="btn btn-mini" href="#">не</a>
                </span>
                 <span>
                    <a class="btn btn-mini" href="#">читает</a>
                </span>
                <span>
                    <a class="btn btn-mini" href="#">теги.</a>
                </span>
                     <span class="tag">
                    <a class="btn btn-mini" href="#">Тег</a>
                </span>
                <span class="tag">
                    <a class="btn btn-mini" href="#">.</a>
                </span>
                 <span class="tag">
                    <a class="btn btn-mini" href="#">111о</a>
                </span>
                <span>
                    <a class="btn btn-mini" href="#">:)</a>
                </span>
                 <span>
                    <a class="btn btn-mini" href="#">18+</a>
                </span>
                <span>
                    <a class="btn btn-mini" href="#">теги.</a>
                </span>
                </p>
                <a href="/question?id={{Question.id}}">Комментарии</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

